<h2>Get in Touch</h2>
<p>Email: <a href="mailto:zigrazor@gmail.com">zigrazor@gmail.com</a></p>
<p>GitHub: <a href="https://github.com/ZigRazor" target="_blank">github.com/ZigRazor</a></p>
<p>StackOverflow: <a href="https://stackoverflow.com/users/12491175/zig-razor"
        target="_blank">stackoverflow.com/ZigRazor</a></p>
<p>DEV.to: <a href="https://dev.to/ZigRazor" target="_blank">dev.to/ZigRazor</a></p>
<p>Medium: <a href="https://medium.com/@zigrazor" target="_blank">medium.com/@zigrazor</a></p>